.button {
    display: block;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: rgb(141, 99, 65);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    font-size: 20px;
    font-family: 'Roboto';
    outline: none;
    cursor: pointer;
}