.mapContiner {
    width: 100%;
    height: 100vh;
}

.mapName {
    z-index: 1;
    position: fixed;
    background-color: aliceblue;
    border: 1px solid rgb(141, 99, 65);
    border-radius: 10px;
    padding: 5px 10px;
    top: 10px;
    left: 10px;
    box-shadow: 5px 5px 5px rgb(141, 99, 65);
}

.mapName h1 {
    font-family: 'Roboto';
    color: rgb(141, 99, 65);
    font-size: 20px;
    font-weight: 900;
}

.imgContainer {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.imgTrain {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 200px;
}

.map {
    width: 100%;
    height: 100vh;
}

/* Для мобильной версии */
@media screen and (max-width: 900px) {
    .imgTrain {
        margin-bottom: 20px;
        margin-right: 20px;
        width: 100px;
    }

    .mapName {
        text-align: center;
        width: 100%;
        border-radius: 0 0 10px 10px;
        top: 0;
        left: 0;
        box-shadow: 0px 3px 5px rgb(141, 99, 65);
    }

    .mapName h1 {
        font-weight: 300;
    }
}