.mapContiner {
    width: 100%;
    height: 100vh;
}

.img-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.train-img {
    width: 200px;
}

.map-name {
    position: fixed;
    background-color: aliceblue;
    border: 2px solid rgb(141, 99, 65);
    border-radius: 10px;
    padding: 5px 10px;
    top: 10px;
    left: 10px;
}

.map-name h1 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
}

@media screen and (max-width: 900px) {
    .train-img {
        width: 100px;
    }

    .map-name {
        text-align: center;
        width: 100%;
        border-radius: 0 0 10px 10px;
        top: 0;
        left: 0;
    }

    .map-name h1 {
        font-weight: 300;
    }
}